@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}
header{
    background: hsl(0, 0%, 4%)	;
}
.navbar{
    padding:0  5rem 0 5rem;
    height: 80px;

}

.navbar .navbar-brand{
    font-size: 40px;
    color: white;

}
.navbar .navbar-brand span{
    color: crimson;
}
.navbar-nav{
    display: inline;
}
.navbar-nav .navbar-item   {
    display: inline-block;
    margin-left: 15px;
  
}
.navbar-nav .navbar-item a{
    color: white;
    font-size: 18px;
}
.navbar-nav .button{
    display: inline;
    margin-left:15px ;
   
    
}
.navbar-nav .button button{
    background: hsl(16, 100%, 50%)	;
    color: white;
    margin-left: 15px;
    transition: 0.5s ease all;
    font-size: 18px;
}
.navbar-nav .button button:hover{
    color: hsl(16, 100%, 50%);
    background: transparent;
    border: 1px solid white;
}
.navbar .nav-toggle{
    display: none;
}

.main{
    padding:0  5rem 0 5rem;
    background: #4D5057;
  
}


/*explore*/

.explore{
  padding-top: 50px;
}
.explore .search-bar-content .input-content{
    position:relative;
   }
   
.explore .search-bar-content .input-content input {
    width: 100%;
    padding: 5px 5px 5px 30px;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    border: 1px solid black;
    outline: none;
  
    
   }
   
.explore .search-bar-content .input-content  i {
    position:absolute;
    padding: 11px 5px 5px 15px;
    font-size: 25px;
    
   }
   .explore .search-bar-content .one ,.explore .search-bar-content .two{
       display: inline;
       display: flex;
       flex-direction: row;
   }
   .explore .search-bar-content .form-group select{
       border-radius: 25px;
       border: 1px solid black;
       outline: none;
     
   }
   .explore .search-bar-content .form-group button{
       background: black;
       color: white;
       border-radius: 25px;
       width: 100%;
   }


   .explore .details-content{
    display: flex;
    flex-wrap: wrap;
   
    
   }
   .explore .details-content .card{
       
       background: #F9F7F3;
      
       padding: 10px 10px 0 10px;
       text-align: left;

   
   }
   .explore .details-content .card .body .img-content img{
       width: 100%;
       height: 200px;
       border-radius: 10px;

   }
   .explore .details-content .card .body .home-details{
       margin-top: 30px ;margin-bottom: 20px;
     
   }
   .explore .details-content .card .body .home-details li{
       display: inline;
   }
   .explore .details-content .card .body .checked{
       color: orange;
   }
   .explore .details-content .card .body .button{
       text-align: center;
       justify-content: center;
       background-color: #1E1E24;
       margin-bottom: 10px;
       transition: 0.8s;
   }
   .explore .details-content .card .body .button button{
       color: white;
       transition: 0.8s;
   }
   .explore .details-content .card .body .button:hover{
       background-color: transparent;
      

   }
   .explore .details-content .card .body .button:hover button{
       color: black;
       outline: none;
       
   }


@media (min-width: 200px) and (max-width: 575.98px) { 
    .navbar{
        padding:0  2rem 0 2rem;
        
    
    }
    .navbar .navbar-nav{
        position: fixed;
        padding-top: 40px;
        left: 0;
        top: -120%;
        width: 100%;
        height: 500px;
        background: black;
        color: white;
        transition: 0.8s ease all;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        z-index: 100;
    }
    .navbar-nav-active{
        top: 0 !important;
    }
    .navbar .navbar-nav li{
        display: block;
        text-align: center;
    }
    .navbar .navbar-nav li a{
        margin-top: 10px;
    }
    .navbar .navbar-nav .button{
        text-align: center;
        justify-content: center;
        margin: 0;
        
    }
    .navbar .navbar-nav .button button{
        margin-top: 20px;

    }
   
    .navbar .nav-toggle{
        display: inline;
        margin-left: auto;
        z-index: 1000;
        

    }
    .navbar .nav-toggle i{
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
    .main{
        padding:0  2rem 0 2rem;
    }
    .explore .details-content{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        justify-content:space-evenly;
       }
       .explore .details-content .card{
            width: 300px;
            margin-top: 30px;
            
          
    
       
       }
}




@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar{
        padding:0  3rem 0 3rem;
        
    
    }
    .navbar .navbar-nav{
        position: fixed;
        padding-top: 40px;
        left: 0;
        top: -120%;
        width: 100%;
        height: 500px;
        background: black;
        color: white;
        transition: 0.8s ease all;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        z-index: 100;
    }
    .navbar-nav-active{
        top: 0 !important;
    }
    .navbar .navbar-nav li{
        display: block;
        text-align: center;
    }
    .navbar .navbar-nav li a{
        margin-top: 10px;
    }
    .navbar .navbar-nav .button{
        text-align: center;
        justify-content: center;
        margin: 0;
        
    }
    .navbar .navbar-nav .button button{
        margin-top: 20px;

    }
   
    .navbar .nav-toggle{
        display: inline;
        margin-left: auto;
        z-index: 1000;
        

    }
    .navbar .nav-toggle i{
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
    .main{
        padding:0  3rem 0 3rem;
    }
    .explore .details-content{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        justify-content:space-evenly;
       }
       .explore .details-content .card{
            width: 200px;
            margin-top: 30px;
            
          
    
       
       }
}



@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar{
        padding:0  4rem 0 4rem;
        
    
    }
    .navbar .navbar-nav{
        position: fixed;
        padding-top: 40px;
        left: 0;
        top: -120%;
        width: 100%;
        height: 500px;
        background: black;
        color: white;
        transition: 0.8s ease all;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        z-index: 100;
    }
    .navbar-nav-active{
        top: 0 !important;
    }
    .navbar .navbar-nav li{
        display: block;
        text-align: center;
    }
    .navbar .navbar-nav li a{
        margin-top: 10px;
    }
    .navbar .navbar-nav .button{
        text-align: center;
        justify-content: center;
        margin: 0;
        
    }
    .navbar .navbar-nav .button button{
        margin-top: 20px;

    }
   
    .navbar .nav-toggle{
        display: inline;
        margin-left: auto;
        z-index: 1000;

    }
    .navbar .nav-toggle i{
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
    .main{
        padding:0  4rem 0 4rem;
    }
    .explore .details-content{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        justify-content: space-evenly;
       }
       .explore .details-content .card{
            width: 290px;
            margin-top: 30px;
            
          
    
       
       }
   

}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .explore .details-content{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        justify-content: space-evenly;
       }
       .explore .details-content .card{
            width: 200px;
            
          
    
       
       }

 }

@media (min-width: 1200px) { 
    .explore .details-content{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        justify-content: space-evenly;
       }
       .explore .details-content .card{
            width: 250px;
            
          
    
       
       }


 }