{% load static %}

<nav class="navbar" style="background-color: #000000;">
    <a class="navbar-brand" href="">Stay<span>watch</span></a>
    <ul class="navbar-nav list-unstyled ml-auto">
        <li class="navbar-item"><a class="nav-link" href="D:\Projects\prithvi\pages\home.html">Home </a></li>
        <li class="navbar-item"><a class="nav-link" href="">About</a></li>
        <li class="navbar-item"><a class="nav-link" href="D:\Projects\prithvi\pages\explore.html">Explore</a></li>
        <li class="navbar-item"><a class="nav-link" href="">Setting</a</li>
        <li class="navbar-item"><a class="nav-link" href="">Contact</a></li>
        <li class="button navbar-item">
          <button class="btn" >Sign In</button>
        </li>
        <li class="button navbar-item">
          <button class="btn" >Sign Up</button>
        </li> 
    </ul>
    <div class="nav-toggle " id="nav-toggler">
      <i class='bx bx-menu'></i>
    </div>  
</nav>