{% extends 'base.html' %}
{% load static %}
{% load filter %}
{% block content %}
<head>
    <title>Title</title>
    <link rel="stylesheet" href={% static "css/explore.css" %}>
  </head>
  <body>
    <div class="main">
        <section class="home">
            <h1 class="home-content-heading">Featured Accomadation</h1>
            <div class="home-content row">
                <div class="left">
                    
                    {% for stay in featured %}
                    <div class="card">
                        <div class="body">
                            <div class="img-content">
                                <img src={{stay.photo.url}} alt="">
                            </div>
                            <div class="home-details list-unstyled">
                                <li class="home-name">Name:</li>
                                <li class="home-name-value">{{stay.name}}</li><br>
                                <li class="home-area">City/Area:</li>
                                <li class="home-area-value">{{stay.city}}</li><br>
                                <li class="home-cost">Rent:</li>
                                <li class="home-cost-value">:Rs{{stay.cost}}</li><br>
                                <li class="home-ratting"></li>
                                
                                {% for i in stay.rating|times %}
                                    <span class="fa fa-star checked"></span>
                                {% endfor %}
                                {% for i in stay.rating|times_dash %}
                                    <span class="fa fa-star"></span>
                                {% endfor %}
                                
                                
                            </div>
                            <div class="button">
                                <a href={% url 'stayDetails' stay.id %}><button class="btn">Know More</button></a>
                              </div>
                        </div>
                    </div>
                    {% endfor %}
                   
                </div>

            </div>
        </section>
    </div>
    <script src={% static "js/home.js" %}></script>
  </body>

{% endblock %}