{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
    <title>Title</title>
    <link rel="stylesheet" href={% static "css/explore.css" %}>
    </head>
    <style>
        .main{
            padding:2rem;
            margin-top: 50px; 
            color: white;
        }
        
        .left{
            display: flex;
            flex-flow:wrap;
            margin-top: 20px;
            
            width: 30%;
        }
        .right{
            display: flex;
            flex-flow: column;
            text-align: left;
            margin-top: 40px;
            width: 70%;
            color: white;
        }
    </style>
    <body >
        <div class = "main" > 
            <h1>
                {{stays.name}}
            </h1>
            <br>
                    <div class="home-details list-unstyled">
                        <img src={{stays.photo.url}} alt="">
                        <br><br>
                        <li class="home-name">Description:</li>
                        <li class="home-name-value">{{stays.description | safe}}</li><br>
                        <li class="home-area">Address:</li>
                        <li class="home-area-value">{{stays.addr_line1}}</li>
                        <li class="home-area-value">{{stays.addr_line2}}</li>
                        <li class="home-area-value">{{stays.city}}</li>
                        <li class="home-area-value">{{stays.state}}</li>
                        <li class="home-area-value">{{stays.pincode}}</li>
                        <li class="home-cost">Owner:</li>
                        <li class="home-cost-value">{{stays.owner}}</li>
                        <li class="home-ratting"></li>
                    </div>
   
        </div>
       
    </body>
    
{% endblock %}